/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.height-50 {
  height: 50vh;
}

.height-100 {
  height: 100vh;
}

.one-hunned {
  width: 100%;
}

.error {
  color: red !important;
  font-weight: 600;
}

.success {
  color: green;
  font-weight: 600;
}